<section class="eleven columns offset-by-one accommodation">

	<div class="row">

		<div class="five columns">

			<h2><%= t('.accommodationtit1') %></h2>
			<hr class="light">
			<p><%= t('.accommodation1') %></p>

			<hr>
			<br />

			<h2><%= t('.accommodationtit2') %></h2>
			<hr class="light">
			<p><%= t('.accommodation2') %></p>
	 
			<hr>
			<br />

			<h2><%= t('.accommodationtit3') %></h2>
			<hr class="light">
			<p><%= t('.accommodation3') %></p>
	 
	 		<hr>
	 		<br />

			<h2><%= t('.accommodationtit4') %></h2>
			<hr class="light">
			<p><%= t('.accommodation4') %></p>

		</div>

		<div class="three columns offset-by-one">
			
			<h2><%= t('.accommodationtit5') %></h2>
			<hr class="light">
			<p><%= t('.accommodation5') %></p>

			<hr>
			<br />

			<h2><%= t('.accommodationtit6') %></h2>
			<hr class="light">
			<p><%= t('.accommodation6') %></p>

			<hr>
			<br />

			<h2><%= t('.accommodationtit7') %></h2>
			<hr class="light">
			<p><%= t('.accommodation7') %></p>
	 
			<hr>
			<br />

			<h2><%= t('.accommodationtit8') %></h2>
			<hr class="light">
			<p><%= t('.accommodation8') %></p>
	 
		</div>

	</div>

</section>

