<section class="eight columns offset-by-two chooseus">

	<div class="row">

		<div class="">

			<h2><%= t('.chooseustit1') %></h2>
 			<hr class="light">

 			<p><%= t('.chooseus1') %></p>

 			<hr>
			<br />

			<h2><%= t('.chooseustit2') %></h2>
			<hr class="light">

			<p><%= t('.chooseus2') %></p>
	 
			<hr>
			<br />

			<h2><%= t('.chooseustit3') %></h2>
 			<hr class="light">

 			<p><%= t('.chooseus3') %></p>

			<hr>
			<br />

			<h2><%= t('.chooseustit4') %></h2>
 			<hr class="light">

 			<p><%= t('.chooseus4') %></p>

		</div>

	</div>

</section>
