<section class="eight columns offset-by-two chooseus">

	<div class="row">

		<div class="">

			<h2><%= t('.communitytit1') %></h2>
 			<hr class="light">

 			<p><%= t('.community1') %></p>

 			<hr>
			<br />

			<h2><%= t('.communitytit2') %></h2>
 			<hr class="light">

 			<p><%= t('.community2') %></p>

 			<hr>
			<br />

			<h2><%= t('.communitytit3') %></h2>
 			<hr class="light">

 			<p><%= t('.community3') %></p>

 			<hr>
			<br />

			<h2><%= t('.communitytit4') %></h2>
 			<hr class="light">

 			<p><%= t('.community4') %></p>

 			<hr>
			<br />

 			<h2><%= t('.communitytit5') %></h2>
 			<hr class="light">

 			<p><%= t('.community5') %></p>

 		</div>

 	</div>

 </section>


 

 

 
 

 

 
