<section class="resources">

	<div class="row resources_top">
		<div class="four columns offset-by-one slide">
			<h4>Accomodation and Internships packages</h4>
			<h3>We are developing some packages to give you the most customized attention.
			<br />So, please keep in touch and come to this section in the future to see what we have prepared for you</h3>
			<hr class="light">
			<p><i class="fa fa-arrow-circle-down"></i> <%= active_link_to "Internships", resources_path(:anchor => "internship"), class: "link" %><br />
			<i class="fa fa-arrow-circle-down"></i> <%= active_link_to "Career Advice", resources_path(:anchor => "career"), class: "link" %><br />
			<i class="fa fa-arrow-circle-down"></i> <%= active_link_to "English Lessons", resources_path(:anchor => "school"), class: "link" %>
			</p>

		</div>
		<div class="three columns offset-by-one slide">
			<p class="button"><i class="fa fa-home"></i> Accomodation <br />+ English Lessons</p>
			<p class="button"><i class="fa fa-home"></i> Accomodation <br />+ Career Advice</p>
			<p class="button"><i class="fa fa-home"></i> Accomodation <br />+ English Lesson <br />+ Career Advice</p>
		</div>

		<div class="three columns slide">
			<p class="button"><i class="fa fa-puzzle-piece"></i> Internships <br />+ English Lessons</p>
			<p class="button"><i class="fa fa-puzzle-piece"></i> Internships <br />+ Career Advice</p>
			<p class="button"><i class="fa fa-puzzle-piece"></i> Internships <br />+ English Lesson <br />+ Career Advice</p>
			<br />
		</div>

	</div>

	<div class="row">

		<div class="eight columns offset-by-two">

			<h2 id="internship"><i class="fa fa-puzzle-piece"></i> <%= t('.internships') %></h2>
			<hr class="light">

			<%= image_tag "internship_purplestone.jpg", alt: "Internships in Purple Stone Academy" %>
			<br />

			<p><%= t('.internshipstext') %></p>
			<ul class="disc">
				<li><%= t('.internshipsli1') %></li>
				<li><%= t('.internshipsli2') %></li>
				<li><%= t('.internshipsli3') %></li>
				<li><%= t('.internshipsli4') %></li>
				<li><%= t('.internshipsli5') %></li>
				<li><%= t('.internshipsli6') %></li>
				<li><%= t('.internshipsli7') %></li>
			</ul>

			<br />
			<hr>
			<br />
					
		</div>
		
	</div>


	<div class="row">

		<div class="eight columns offset-by-two">

			<h2 id="school"><i class="fa fa-book"></i> <%= t('.englishlessons') %></h2>
			<hr class="light">

			<%= image_tag "academy_activity.jpg" %>
			<br /><br />

			<div class="row">

				<div class="three columns">
					<h3><%= t('.structure') %></h3>
					<p><%= t('.structuretext') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.support') %></h3>
					<p><%= t('.supporttext') %></p>
				</div>

			</div>

			<div class="row">

				<div class="three columns">
					<h3><%= t('.encouragement') %></h3>
					<p><%= t('.encouragementtext') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.evaluation') %></h3>
					<p><%= t('.evaluationtext') %></p>
				</div>
				
			</div>

			<div class="row">

				<div class="seven columns">
					<h3><%= t('.dynamicact') %></h3>
					<p><%= t('.dynamicacttext') %></p>
				</div>
				
			</div>

			<note><%= t('.findmore') %></note>
			
			<br />
			<hr>
			<br />

		</div>
		
	</div>

	<div class="row">

		<div class="eight columns offset-by-two">

			<h2 id="career"><i class="fa fa-lightbulb-o"></i> <%= t('.careeradvice') %></h2>
			<hr class="light">

			<%= image_tag "careeradvice_purplestone.jpg", alt: "Career Advice in Purple Stone Academy" %>
			<br /><br />

			<div class="row">

				<div class="three columns">
					<h3><%= t('.adviceandsupport') %></h3>
					<p><%= t('.adviceandsupporttext') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.cvwriting') %></h3>
					<p><%= t('.cvwritingtext') %></p>
				</div>

			</div>

			<div class="row">

				<div class="three columns">
					<h3><%= t('.applicationstojobs') %></h3>
					<p><%= t('.applicationstojobstext') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.training') %></h3>
					<p><%= t('.trainingtext') %></p>
				</div>
				
			</div>

			<div class="row">
				<p><%= t('.consultation') %></p>

				<note><%= t('.getintouch') %><%= mail_to "careers@purplestoneacademy.com", "careers@purplestoneacademy.com" %></note><br /><br />
				<note><%= t('.getintouch2') %><%= link_to "www.purplestonecareeradvice.com", "http://www.purplestonecareeradvice.com" %></note>
			</div>
			
			<br />
			<hr>
			<br />

		</div>
		
	</div>

</section>



