<section class="resources">

	<div class="row resourses_top">
		<div class="eight columns slide">
			<%= image_tag "younghappy.jpg", width: '620' %>
		</div>

		<%= render :partial => 'shared/aweberform' %>
		
	</div>

	<div class="row">

		<div class="eight columns offset-by-two">

			<h2 id="internship"><i class="fa fa-puzzle-piece"></i> <%= t('.internships') %></h2>
			<hr class="light">
			<p><%= t('.internshipstext') %></p>
			<ul class="disc">
				<li><%= t('.internshipsli1') %></li>
				<li><%= t('.internshipsli2') %></li>
				<li><%= t('.internshipsli3') %></li>
				<li><%= t('.internshipsli4') %></li>
				<li><%= t('.internshipsli5') %></li>
				<li><%= t('.internshipsli6') %></li>
				<li><%= t('.internshipsli7') %></li>
			</ul>

			<br />
			<hr>
			<br />
					
		</div>
		
	</div>


	<div class="row">

		<div class="eight columns offset-by-two">

			<h2 id="school"><i class="fa fa-book"></i> <%= t('.englishlessons') %></h2>
			<hr class="light">

			<div class="row">

				<div class="three columns">
					<h3><%= t('.structure') %></h3>
					<p><%= t('.structuretext') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.support') %></h3>
					<p><%= t('.supporttext') %></p>
				</div>

			</div>

			<div class="row">

				<div class="three columns">
					<h3><%= t('.encouragement') %></h3>
					<p><%= t('.encouragementtext') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.evaluation') %></h3>
					<p><%= t('.evaluationtext') %></p>
				</div>
				
			</div>

			<div class="row">

				<div class="seven columns">
					<h3><%= t('.dynamicact') %></h3>
					<p><%= t('.dynamicacttext') %></p>
				</div>
				
			</div>

			<note><%= t('.findmore') %></note>
			
			<br />
			<hr>
			<br />

		</div>
		
	</div>

	<div class="row">

		<div class="eight columns offset-by-two">

			<h2 id="acommodation"><i class="fa fa-home"></i> <%= t('.accomodation') %></h2>
			<hr class="light">

			<div class="row">

				<div class="three columns">
					<h3><%= t('.accomodationtitle1') %></h3>
					<p><%= t('.accomodationtext1') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.accomodationtitle2') %></h3>
					<p><%= t('.accomodationtext2') %></p>
				</div>

			</div>

			<div class="row">

				<div class="three columns">
					<h3><%= t('.accomodationtitle3') %></h3>
					<p><%= t('.accomodationtext3') %></p>
				</div>
				<div class="three columns offset-by-one">
					<h3><%= t('.accomodationtitle4') %></h3>
					<p><%= t('.accomodationtext4') %></p>
				</div>
				
			</div>

			<div class="row">

				<div class="seven columns">
					<h3><%= t('.accomodationtitle5') %></h3>
					<p><%= t('.accomodationtext5') %></p>
				</div>
				
			</div>
			
			<note><%= t('.pleasecontact') %></note><br /><br />
			<note><%= t('.alternatively') %></note>
			
		</div>
		
	</div>

</section>



