<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A user has sent a message trhough the website PurpleStoneGroup.com,</h1>
    <p>Name: <%= @contact["name"] %></p>
    <p>Email: <%= @contact["email"] %></p>
    <p>Phone: <%= @contact["phone"] %></p>
    <p>Subject: <%= @contact["subject"] %></p>
    <p>Comments: <%= @contact["comments"] %></p>
    <p>To see the message visit the website as admin.</p>
  </body>
</html>