
<div class="eleven columns offset-by-one contact">

	<h2><%= t('.title_html') %></h2>
	<h4><%= t('.subtitle') %></h4>

	<div class="row">
		
		<div class="four columns">
			<h2><%= t('.contactus') %></h2>
			<hr class="light">
			<p>Maria Diz Hernandez, Operational Manager<br />
			Purple Stone Academy<br />
			0778 794 3494</p>
			<hr class="light">
			<p><%= t('.contactustext_html') %></p>
			
		</div>

		<div class="four columns offset-by-one">

			<div class="bank">
				<h2><%= t('.bookroom') %></h2>
				<hr class="light">
				<p><%= t('.bookroomtransfer') %></p>
				<h4>Purple Stone Rooms</h4>
				<p>Natwest bank<br />
				Sort Code: 60-24-66<br />
				Account Number: 10104801<br />
				BIC: NWBKGB2L<br />
				IBAN: GB18NWBK60246610104801</p>				
			</div>
			
		</div>

	</div>

	<div>
		<hr class="light">
		<h3><%= t('.feedbacktitle') %></h3>
		<p><%= t('.feedbacktext') %></p>
		<hr class="light">
	</div>

	<div class="five columns">
		
		<div id="contact_aweberform">
			<script type="text/javascript" src="http://forms.aweber.com/form/68/815779468.js"></script>
			<br /><br />
		</div>

		<div id="contact_map">

			<iframe width="620" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=214869150950037271653.0004ed1bb4c69424518b2&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;ll=51.515533,-0.071524&amp;spn=0,0&amp;output=embed"></iframe><br /><small>Ver <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=214869150950037271653.0004ed1bb4c69424518b2&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;ll=51.515533,-0.071524&amp;spn=0,0&amp;source=embed" style="color:#0000FF;text-align:left">Purple Stone Group</a> en un mapa más grande</small>

		</div>

	</div>

	<div class="three columns offset-by-two">

		<h2><%= t('.address') %></h2>
		<hr class="light">
		<p><i class="fa fa-map-marker"></i> 2nd Floor<br />
		101 Whitechapel High Street,<br />
		London, E1 7RA</p>
		<h2><%= t('.opening') %></h2>
		<hr class="light">
		<p><i class="fa fa-clock-o"></i> 09:00 - 4:30 pm</p>

	</div>


</div>