<section class="room_presentation">
	
		<div class="eight columns offset-by-two details">

			<hr class="light">
			<h5>Room code: <span><%= @room.room_code %></span></h5>
			<br />

			<%= image_tag @room.image(:large) %>
			<br />
			<br />

			<div class="row">
				<div class="price">
					<h2>Week Price: £<span><%= @room.week_price %></span></h2>
					<% if @room.is_available? %>
					<%= link_to "I Wanna Book it Now!", new_room_booking_path(@room), class: "button" %>
					<% else %>
					<span class="fa-stack fa-lg no"><i class="fa fa-ban fa-stack-2x"></i> </span>
					<span>No Available at the moment.</span>
					<% end %>
					
				</div>
			</div>
			<hr class="light">

			<div class="row">

				<div class="three columns">
					<p>Type: <span><%= @room.room_type %></span></p>
					<p>Map Zone: <span><%= @room.zone %></span></p>
					<p>Bills included? 
					<% if @room.bills_included? %>
					<span> Yes </span>
					<% else %>
					<span> No </span>
					<% end %>
					</p>				
					<p>Internet: <span><%= @room.internet %></span></p>
				</div>

				<div class="four columns">
					<p>Transport: <span><%= @room.transport %></span></p>
					<p>Neighborhood: <span><%= @room.neighborhood %></span></p>
					<p>Location: <span><%= @room.location %></span></p>					
				</div>
				
			</div>

			<h4>Description:</h4>
			<p><%= @room.description %></p>

		</div>
		
		<div class="row">
			<div class="ten columns offset-by-one">
				<div class="map" data-lat="<%= @room.latitude %>" data-long="<%= @room.longitude %>"></div>
			</div>
		</div>

</section>
