<section class="eight columns">

	<% @category.posts.order('created_at desc').each do |post| %>

		<div class="post_details">
			<h2><%= link_to post.title, category_post_path(@category, post) %></h2>
			<%= image_tag post.image(:header), class: "post_image" %>
			<p><%= format truncate post.body, length: 300 %></p>
		</div>

	<% end %>

</section>

<section class="four columns">

  <div>
    <%= render :partial => 'shared/search' %>
  </div>

  <div>
    <%= render :partial => 'shared/categoriesmenu' %>
  </div>

</section>