<!doctype html>
<html>
<head>
  <title>Purple Stone Group</title>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="container">
		<div class="row">
			<h1 class="three columns">
				<%= link_to(root_path) do %>
				<%= image_tag "logo_psg.png" %>
				<% end %>
			</h1>

			<div class="four columns">
				<h2><%= t('.slogan') %></h2>
			</div>

			<div class="five columns header_right_side">
				<div class="header_right">
					<phone class="muted"><span class="fa-stack">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
					</span> 0207 247 1440</phone>
					<div>
					<div id="languages">
						<%= form_tag home_path, class: 'locale', :method => :get do %>
							<%= select_tag 'set_locale',
								options_for_select(LANGUAGES, I18n.locale.to_s),
								onchange: 'this.form.submit()' %>
							<%= submit_tag 'submit' %>
							<%= javascript_tag "$('.locale input').hide()" %>
						<% end %>
					</div>
					</div>
					<div class="stay-in-touch-icons">
						<a class="twitter" href="http://www.twitter.com/" target="_blank" title="Follow us on Twitter">Follow us on Twitter</a>
						<a class="facebook" href="http://www.facebook.com/" target="_blank" title="Follow us on Facebook">Follow us on Facebook</a>
						<a class="google-plus" href="https://plus.google.com/" target="_blank" title="Follow us on Google Plus">Follow us on Google Plus</a>
						<a class="linkedin" href="http://www.linkedin.com/" target="_blank" title="Follow us on Linkedin">Follow us on Linkedin</a>
						<a class="pinterest" href="http://www.pinterest.com/" target="_blank" title="Follow us on Pinterest">Follow us on Pinterest</a>
						<a class="youtube" href="http://youtube.com/" target="_blank" title="Follow us on Youtube">Follow us on Youtube</a>
					</div>
				</div>

			</div>
		</div> <!--  .row -->

		<nav class="row">
			<ul id="menu">
				<li><%= link_to t('.home'), home_path, class: "first" %></li>
				<li><a href="#">INVESTMENT</a></li>
				<li><a href="#">PARTNER WITH US</a></li>
				<li><%= link_to "BLOG", posts_path %></li>
				<li><a href="#">OUR COMPANIES</a></li>
				<li><%= link_to t('.contact'), new_contact_path, class: "last" %></li>
			</ul>
		</nav> <!--  .row -->

	</header> <!--  .container -->


	<div class="body_background">
		<div class="container content">
			<% flash.each do |key, value| %>
				<div class="twelve columns flash <%= key %>"><%= value %></div>
			<% end %>

			<article class="row">
				<%= yield %>
			</article>

			<footer>
				<div class="row">
					<div class="footer_one">
						<div class="seven columns about">
							<h2><i class="fa fa-info-circle"></i> <%= t('.aboutustitle') %></h2>
							<h4><%= t('.whatis') %></h4>
							<p><%= t('.aboutustext') %></p>
						</div>
						<div class="four columns offset-by-one affiliate">
							<h2><%= t('.affiliatetitle') %></h2>
							<p><%= t('.affiliatetext') %></p>
							<%= mail_to "lily@purplestoneacademy.com", t('.affiliatebutton'), class: "button" %>				
						</div>
					</div>
				</div>

				<nav class="row">
					<ul id="menu">
						<li><%= link_to t('.home'), root_path, class: "first" %></li>
						<li><a href="#">INVESTMENT</a></li>
						<li><a href="#">PARTNER WITH US</a></li>
						<li><%= link_to "BLOG", posts_path %></li>
						<li><a href="#">OUR COMPANIES</a></li>
						<li><%= link_to t('.contact'), new_contact_path, class: "last" %></li>
					</ul>
				</nav> <!--  #main_nav --> <!--  .row -->

				<div class="footer_two">
					<h1 class="three columns">
						<%= link_to(root_path) do %>
						<%= image_tag "logo_psg_white.png" %>
						<% end %>
					</h1>

					<div class="four columns">
						<h2><%= t('.slogan') %></h2>
					</div>

					<div class="four columns offset-by-one">
						<div class="address">
							<p class="muted"><span class="fa-stack">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-phone fa-stack-1x"></i>
							</span> 0207 247 1440</p>
							<p>101 Whitechapel High Street<br />
							E1 7RA, London<br />						
							<i class="fa fa-map-marker"></i> Aldgate East</p>
						</div>

					</div>
					<div class="row">
						
					</div>
					
				</div>

				<div class="row copy">
					<p class="four columns">&copy; <%= Date.today.year %> Purple Stone Group Ltd</p>
					<div>
						<ul id="menu_footer" class="five columns">
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Terms and Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>

			</footer>
		</div> <!--  .container -->
	</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#menu').slicknav();
	$('.bxslider').bxSlider({
		mode: 'fade',
		auto: true,
		autostart: true
		});
});
</script>
</body>
</html>
