<!doctype html>
<html>
<head>
  <title>Purple Stone Rooms</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="container">
		<div class="row">
			<h1 id="top" class="three columns">
				<%= link_to(root_path) do %>
				<%= image_tag "logo_psr.png" %>
				<% end %>
			</h1>

			<div class="four columns">
				<h2 class="slogan">Lovely Rooms,<br />to Rest and Live</h2>
			</div>

			<div class="five columns header_right_side">
				<div class="header_right">
					<phone class="muted"><span class="fa-stack">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
					</span> 0207 247 1440</phone>
					<div>
					<div id="languages">
						<%= form_tag root_path, class: 'locale', :method => :get do %>
							<%= select_tag 'set_locale',
								options_for_select(LANGUAGES, I18n.locale.to_s),
								onchange: 'this.form.submit()' %>
							<%= submit_tag 'submit' %>
							<%= javascript_tag "$('.locale input').hide()" %>
						<% end %>
					</div>
					</div>
					<div class="stay-in-touch-icons">
						<a class="twitter" href="https://twitter.com/PurpleSAcademy" target="_blank" title="Follow us on Twitter">Follow us on Twitter</a>
						<a class="facebook" href="https://www.facebook.com/PurpleStoneAcademy" target="_blank" title="Follow us on Facebook">Follow us on Facebook</a>
						<a class="google-plus" href="https://plus.google.com/107177687152744418771/about" target="_blank" title="Follow us on Google Plus">Follow us on Google Plus</a>
						<a class="linkedin" href="http://www.linkedin.com/groups/Purple-Stone-Academy-6543537" target="_blank" title="Follow us on Linkedin">Follow us on Linkedin</a>
						<a class="pinterest" href="http://www.pinterest.com/learnrealquick1/" target="_blank" title="Follow us on Pinterest">Follow us on Pinterest</a>
						<a class="youtube" href="http://www.youtube.com/watch?v=1x0vD3r9mbk" target="_blank" title="Follow us on Youtube">Follow us on Youtube</a>
					</div>
				</div>

			</div>
		</div> <!--  .row -->

		<nav class="row">
			<ul id="menu">
				<li><%= active_link_to t('.home'), root_path, class: "first" %></li>
				<li><%= active_link_to t('.rooms'), rooms_path, class: "link" %></li>
				<li><%= active_link_to t('.ouraccommodation'), accommodation_path, class: "link" %></li>
				<li><%= active_link_to t('.chooseus'), chooseus_path, class: "link" %></li>
				<li><%= active_link_to t('.community'), community_path, class: "link" %></li>
				<li><%= active_link_to "BLOG", categories_path, class: "link" %></li>
				<li><%= active_link_to t('.resources'), resources_path, class: "link" %></li>
				<li><%= active_link_to t('.contact'), new_contact_path, class: "last" %></li>
			</ul>
		</nav> <!--  .row -->

	</header> <!--  .container -->


	<div class="body_background">
		<div class="container content">
			<% flash.each do |key, value| %>
				<div class="twelve columns flash <%= key %>"><%= value %></div>
			<% end %>

			<article class="row">
				<%= yield %>
			</article>

			<p id="back-top">
				<a href="#top"><span></span>Back to top</a>
			</p>

			<footer>
				<div class="row">
					<div class="footer_one">
						<div class="seven columns about">
							<h2><i class="fa fa-info-circle"></i> <%= t('.aboutustitle') %></h2>
							<h4><%= t('.whatis') %></h4>
							<p><%= t('.aboutustext') %></p>
						</div>
						<div class="four columns offset-by-one affiliate">
							<h2><%= t('.affiliatetitle') %></h2>
							<p><%= t('.affiliatetext') %></p>
							<%= mail_to "lily@purplestoneacademy.com", t('.affiliatebutton'), class: "button" %>				
						</div>
					</div>
				</div>

				<nav class="row">
					<ul id="menu">
						<li><%= active_link_to t('.home'), root_path, class: "first" %></li>
						<li><%= active_link_to t('.rooms'), rooms_path, class: "link" %></li>
						<li><%= active_link_to t('.ouraccommodation'), accommodation_path, class: "link" %></li>
						<li><%= active_link_to t('.chooseus'), chooseus_path, class: "link" %></li>
						<li><%= active_link_to t('.community'), community_path, class: "link" %></li>
						<li><%= active_link_to "BLOG", categories_path, class: "link" %></li>
						<li><%= active_link_to t('.resources'), resources_path, class: "link" %></li>
						<li><%= active_link_to t('.contact'), new_contact_path, class: "last" %></li>
					</ul>
				</nav> <!--  #main_nav --> <!--  .row -->

				<div class="footer_two">
					<h1 class="three columns">
						<%= link_to(root_path) do %>
						<%= image_tag "logo_psr_white.png" %>
						<% end %>
					</h1>

					<div class="four columns">
						<h2 class="slogan">Lovely Rooms,<br />to Rest and Live</h2>
					</div>

					<div class="four columns offset-by-one">
						<div class="address">
							<p class="muted"><span class="fa-stack">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-phone fa-stack-1x"></i>
							</span> 0207 247 1440</p>
							<p>101 Whitechapel High Street<br />
							E1 7RA, London<br />						
							<i class="fa fa-map-marker"></i> Aldgate East</p>
						</div>

					</div>
					
				</div>
				
				<div class="row ourcompanies">

					<div class="twelve columns">
						<p><%= t('.ourcompanies') %></p>
						<br />
					</div>

					<div class="three columns">
						<%= link_to "http://www.purplestonegroup.com/" do %>
						<%= image_tag "logo_psg_white.png", width: '150' %>
						<% end %>
					</div>
					<div class="three columns">
						<%= link_to "http://www.purplestonecareeradvice.com/" do %>
						<%= image_tag "logo_psca_white.png", width: '185' %>
						<% end %>
					</div>
					<div class="three columns">
						<%= link_to "http://www.purplestoneacademy.com/" do %>
						<%= image_tag "logo_psa_white.png", width: '150' %>
						<% end %>
					</div>
					<div class="three columns">
						<%= link_to "http://www.pstonemedia.com/" do %>
						<%= image_tag "logo_psm_white.png", width: '150' %>
						<% end %>
					</div>

				</div>

				<div class="row copy">
					<p class="four columns">&copy; <%= Date.today.year %> Purple Stone Group Ltd</p>
					<div>
						<ul id="menu_footer" class="five columns">
							<li><%= link_to "Terms and Conditions", terms_path %></li>
							<li><%= link_to "Privacy Policy", privacy_path %></li>
							<li><%= link_to "Design: PSM", "http://www.pstonemedia.com/" %></li>
						</ul>
					</div>
				</div>

			</footer>
		</div> <!--  .container -->
	</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#menu').slicknav();
	$('.bxslider').bxSlider({
		auto: true,
		autostart: true
		});
});
</script>
<script type="text/javascript">
	$(document).ready(function(){

		// hide #back-top first
		$("#back-top").hide();
		
		// fade in #back-top
		$(function () {
			$(window).scroll(function () {
				if ($(this).scrollTop() > 100) {
					$('#back-top').fadeIn();
				} else {
					$('#back-top').fadeOut();
				}
			});

			// scroll body to 0px on click
			$('#back-top a').click(function () {
				$('body,html').animate({
					scrollTop: 0
				}, 800);
				return false;
			});
		});

	});

</script>
</body>
</html>
